.facturaCard {
  border: 1px solid #000;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;

  & > div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px;
  }
}
